<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      ´
    </mat-card-header>
    <img mat-card-image src={{url}} alt="Photo of a Shiba Inu" (click)="openDialog()">
    <mat-card-content>
      <p>
        {{description}}
      </p>
      <p>
        Dangerousness:&nbsp;
        <ng-container *ngFor="let i of [].constructor(danger)">☠️</ng-container>
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
