<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{title}}</mat-card-title>
      ´
    </mat-card-header>
    <img mat-card-image src={{url}} alt="Photo of a Shiba Inu" (click)="openDialog()">
    <mat-card-content>
      <p>
        {{description}}
      </p>
      <p>
        {{id}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Book</button>
    </mat-card-actions>
  </mat-card>
</div>
