.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;

}
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  padding: 16px;
  width: fit-content;
}

label {
  margin-right: 4px;
  display: block;
  font-size: medium;
}

.error-input {
  border-color: red;
}

.error-text {
  font-size: smaller;
  color: red;
  font-style: italic;
}
