<img width="100%" src="../assets/pics/danger.jpg" />
<p class="prob">Wollen Sie Ihr Leben selbst in die Hand nehmen? 
    Fühlen Sie sich gegängelt von zu vielen Sicherheitsrichtlinien und Vorgaben? 
</p>
<p class="prob">
    Fürchten Sie, das ihre Rente sowieso nicht zum Leben reicht?</p>
<p class="sol">Kommen sie zu DangerZone Booking und sie sind all diese Probleme los!!</p>
<p class="sol">   Wir garantieren WEDER für ihre SICHERHEIT, NOCH für ihr ÜBERLEBEN!! </p> 
<p class="sol"> Danger Zone Booking! Echte Gefahr, echter Nervenkitzel! Kein doppelter Boden! Kein Sicherheitsnetz! </p>
