<img src="../assets/pics/danger.jpg" />

<h1>DangerZone Booking</h1>
<p>Wollen Sie Ihr Leben selbst in die Hand nehmen? 
    Fühlen Sie sich gegängelt von zu vielen Sicherheitsrichtlinien und Vorgaben? 
    Fürchten Sie, das ihre Rente sowieso nicht zum Leben reicht?</p>
<p>Kommen sie zu DangerZone Booking und sie sind all diese Probleme los!!</p>
<p>   Wir garantieren WEDER für ihre SICHERHEIT, NOCH für ihr ÜBERLEBEN!! </p> 
<p> Danger Zone Booking! Echte Gefahr, echter Nervenkitzel! Kein doppelter Boden! Kein Sicherheitsnetz!
    </p>
