p.prob{
    color: darkred;
    text-indent: 30px;
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 1cm;
  }
p.sol{
    color: greenyellow;
    text-indent: 30px;
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 1cm;
  }