<h1>{{title}}</h1>
<div align="center">
  <a style="cursor: pointer" routerLink="/trip-detail/{{trip.id}}" *ngFor="let trip of tripList">
    <div style="padding-top: 10px;">
      <mat-card class="trip-card">
        <mat-card-header>
          <mat-card-title>{{trip.title}}</mat-card-title>
        </mat-card-header>
        <div style="height: 300px">
          <img mat-card-image src={{trip.url}} style="max-width: 400px; padding: 15px;">
        </div>
      </mat-card>
    </div>
  </a>
</div>
