mat-card {
  max-width: 400px;
  cursor: pointer;
  width: 430px;
}

div.trip-list {
  padding-left: 15px;
}

div.card-image {
  display: inline-block;
}

img.card-image {
  max-width: 400px;
  padding: 15px;
  padding-bottom: 0px;
}
